name: "Release"

on:
  push:
    branches:
      - main
      - fix/blurry-render

jobs:
  release:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Check package version and detect an update
        id: check-package-version
        uses: PostHog/check-package-version@v2
        with:
          path: hedgehog-mode

      - name: Set up Node 18
        uses: actions/setup-node@v4
        if: steps.check-package-version.outputs.is-new-version == 'true'
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
          scope: "@posthog"

      - uses: pnpm/action-setup@v4
        if: steps.check-package-version.outputs.is-new-version == 'true'
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Install dependencies
        if: steps.check-package-version.outputs.is-new-version == 'true'
        run: pnpm install

      - name: Build
        if: steps.check-package-version.outputs.is-new-version == 'true'
        run: pnpm build

      - name: Publish the package in the npm registry
        id: publish-package
        if: steps.check-package-version.outputs.is-new-version == 'true'
        working-directory: hedgehog-mode
        run: |
          tag="alpha"
          echo "tag=alpha" >> $GITHUB_OUTPUT
          if [[ $VERSION =~ ^[0-9]+(\.[0-9]+){2,3}$ ]]; then
            echo "tag=latest" >> $GITHUB_OUTPUT
            tag="latest"
          fi

          pnpm publish --access public --tag $tag --no-git-checks
        env:
          NPM_CONFIG_PROVENANCE: true
          VERSION: ${{ steps.check-package-version.outputs.committed-version }}
